@model List<Jogos>
@{
    ViewData["Title"] = "Home";
}


        <!-- Masthead-->
        <header class="masthead">
            <div class="container masthead">
                <div class="masthead-subheading">Bem Vindo ao LicaGames</div>
                <div class="masthead-heading text-uppercase">Espero Que Goste</div>
                <a class="btn btn-primary btn-xl text-uppercase mostrarmais" href="#portfolio">Mostrar Mais</a>
            </div>
        </header>

<!-- Portfolio Grid-->
        <section class="page-section bg-dark" id="portfolio">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Os melhores jogos</h2>
                    <h3 class="section-subheading text-muted">Generos</h3>
                </div>
            <div class="container">
                @foreach (var jogos in Model)
                {
                    
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" asp-action="Details" asp-route-id="@jogos.Id">
                                <div class="portfolio-hover">
                                </div>
                                <img class="img-fluid" src="@jogos.Imagem" alt="@jogos.Nome" />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@jogos.Nome</div>
                                <div class="portfolio-caption-subheading text-muted">@string.Join(' ', jogos.Generos)</div>
                            </div>
                        </div>
                    </div>
                    
                }

                </div>
            </div>
        </section>

                <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Your Website 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>